@model string;
@{
    Layout = "~/Views/Shared/_PageLayout.cshtml";
    ViewData["Title"] = "Reset Password";
}

<div class="front">
    <div class="front-left"></div>
    <div class="front-right">
        <div class="login-card1">

            <h2><b>Reset password</b></h2>
            <form id="resetpassword-form-id" class="login-form">
                <input type="hidden" id="resetpassword-email" />
                <input value="@Model" type="hidden" id="resetpassword-token" />


                <div class="form-floating mb-4 position-relative">
                    <input type="password" id="resetpassword-password" onkeyup="passwordValidation(this)"
                        onblur="passwordValidation(this)" class="form-control border border-dark w-100 h-100"
                        placeholder="Password*" />
                    <i class="bi bi-eye-slash-fill position-absolute translate-middle-y fs-4 me-3"
                        onclick="toggle_fnction('togglePassword','resetpassword-password')" id="togglePassword"
                        style="top: 22px; right: 0px;"></i>
                    <label for="resetpassword-password" class="form-floating text-dark  text-left">Password*</label>
                    <span class="text-danger passwordValidationMessage validationMessage"></span>
                </div>

                <div class="form-floating mb-4 position-relative">
                    <input type="password" id="resetpassword-confirmPassword"
                        onkeyup="cnfpasswordValidation(this,'resetpassword-password')"
                        onblur="cnfpasswordValidation(this,'resetpassword-password')"
                        class="form-control border border-dark w-100 h-100" placeholder="Confirm Password*" />
                    <i class="bi bi-eye-slash-fill position-absolute translate-middle-y fs-4 me-3"
                        onclick="toggle_fnction('togglePassword1','resetpassword-confirmPassword')" id="togglePassword1"
                        style="top: 22px; right: 0px;"></i>
                    <label for="resetpassword-confirmPassword" class="form-floating text-dark  text-left">Confirm
                        Password*</label>
                    <span class="text-danger cnfpasswordValidationMessage validationMessage"></span>

                </div>

                <div class="d-grid">
                    <input value="Reset password" class="login-btn btn btn-primary fs-5  pt-2 pb-2 w-100 "
                        type="submit" />
                </div>

            </form>

        </div>


    </div>
</div>



@section Scripts {
    <script>

        function ValidateResetPasswordToken() {
            let resetPasswordToken = $("#resetpassword-token").val();

            let params = setParameter("/Login/VerifyResetPasswordToken", GET,null, FORM_URL, { resetPasswordToken }, verifyResetToken);
            ajaxCall(params);
        }

        $(document).ready(function () {

            ValidateResetPasswordToken();

            $(document).on("submit", "#resetpassword-form-id", function (e) {
                e.preventDefault();
                let isValidForm = validateResetPasswordForm();
                if (isValidForm) {
                    let formData = new FormData();
                    formData.append("Email", $("#resetpassword-email").val())
                    formData.append("Password", $("#resetpassword-password").val())
                    formData.append("ConfirmPassword", $("#resetpassword-confirmPassword").val())
                    let params = setParameter("/Login/ResetPasswordAsync", POST,null, FORMDATA, formData, verifyEmailSuccess);
                    ajaxCall(params);
                }
            })
        })

    </script>

    <partial name="_ValidationScriptsPartial" />
    <partial name="_Toaster" />
}