@{
    Layout = "~/Views/Shared/_PageLayout.cshtml";
    ViewData["Title"] = "PageNotFoundError";

}

<div class="container-fluid vw-100 vh-100 d-flex align-items-center" style="background-color: rgb(210, 247, 247);">
    <div class="row d-flex align-items-center col-12">
        <div class="col-12 d-flex justify-content-center">
            <img src="~/images/logo.jpg" width="70px" alt="" style="border-radius: 50%;">
            <span class="ms-2 fs-1 fw-bold text-color">Ledgerbook</span>
        </div>
        <div class="col-12 text-color d-flex justify-content-center" style="font-size: 200px;">
            404
        </div>
        <div class="col-12 d-flex justify-content-center" style="font-size: 30px;">
            Page Not Found
        </div>
        <div class="col-12 d-flex justify-content-center text-color mt-4">
            Oops, The page you are looking for isn't here
        </div>
        <div class="col-12 d-flex justify-content-center text-color mt-4">
            <a class="btn btn-primary " onclick="logout()">Login</a>
        </div>
    </div>
</div>