@{
    ViewData["Title"] = "Business";
    Layout = "~/Views/Shared/_BusinessCardLayout.cshtml";
}

<div class="" id="ledgerbook-body">

    <div class="main-container px-4 mt-3">
        <div class="d-flex justify-content-between flex-column flex-sm-row">
            <div class="heading fs-2 fw-bold text-color mb-3">Businesses</div>
            <span class="d-flex">
                <input type="text" id="BusinessSearch" class="form-control mt-3 me-3"
                    style="height:35px; width:100% !important;" placeholder="Search" oninput="RemoveWhiteSpace(this)" />
                <span class="text-color fs-6 fw-bold btn text-nowrap btn-primary mt-3 cursor-pointer "
                    style="height:35px; width:100% !important;" data-toggle="tooltip" data-placement="top"
                    title="Add business" data-bs-toggle="modal" data-bs-target="#add-business-modal"
                    onclick="emptyInputValidation('business-details-form-id');displayBusinessDetails()">Add
                    Business</span>
            </span>
        </div>

        <!--------------------------------------------- Business cards---------------------------------------------->
        <div class="business-cards-scroll d-flex row justify-content-center gap-3 mt-5 " id="businss-cards">
        </div>
    </div>
</div>

<!-------------------------------------- Modal--------------------------------------------------->
<div id="add-business-modal" class="modal fade" tabindex="-1">
    <input type="hidden" name="" id="business-businessId">
    <div class="modal-dialog modal-dialog-centered modal-xl" id="businessdetail-modal-body">

    </div>
</div>

<div id="add-user-modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered " id="craete-user-modal-content">
        <div class="modal-content bg-light shadow-lg border-2">
            <div class="modal-header">
                <h5 class="modal-title" id="add-user-modal-title">Add User</h5>
                <button type="button" class="btn-close usermodal-close-btn"
                    onclick="emptyInputValidation('add-newuser-form-id')" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <form id="add-newuser-form-id">
                <div class="modal-body row">
                    <div class="col-md-6 col-lg-6 col-xl-6 col-sm-12 col-12 mt-3">
                        <div class="form-floating ">
                            <input type="hidden" id="user-details-userId">
                            <input type="hidden" id="user-details-personalId">
                            <input type="text" oninput="RemoveWhiteSpace(this);nameValidation(this,'First')"
                                onblur="nameValidation(this,'First')" class="form-control" id="user-details-firstName"
                                placeholder="First Name*">
                            <label for="user-details-firstName" class="fs-6 text-secondary">First Name*</label>
                            <span class="text-danger FirstNameValidationMessage validationMessage"></span>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-xl-6 col-sm-12 col-12 mt-3">
                        <div class="form-floating ">
                            <input type="text" oninput="RemoveWhiteSpace(this);nameValidation(this,'Last')"
                                onblur="nameValidation(this,'Last')" id="user-details-lastName" class="form-control"
                                placeholder="Last Name*">
                            <label for="user-details-lastName" class="fs-6 text-secondary">Last Name*</label>
                            <span class="text-danger LastNameValidationMessage validationMessage"></span>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-6 col-xl-6 col-sm-12 col-12 mt-3">
                        <div class="form-floating ">
                            <input type="text" oninput="RemoveWhiteSpace(this);emailValidation(this)"
                                onblur="emailValidation(this)" class="form-control" id="user-details-email"
                                placeholder="Email*">
                            <label for="user-details-email" class="fs-6 text-secondary">Email*</label>
                            <span class="text-danger emailValidationMessage validationMessage"></span>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-xl-6 col-sm-12 col-12 mt-3">
                        <div class="form-floating ">
                            <input type="Number" oninput="numberValidationReq(this)" onblur="numberValidationReq(this)"
                                class="form-control" id="user-details-mobileNumber" placeholder="Mobile Number*">
                            <label for="user-details-mobileNumber" class="fs-6 text-secondary">Mobile Number*</label>
                            <span class="text-danger numberValidationMessage validationMessage"></span>
                        </div>
                    </div>
                    <div class="col-12 mt-3">
                        <div>Roles </div>
                        <div class="form-floating d-flex" id="user-details-roleList">

                        </div>
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal"
                        onclick="emptyInputValidation('add-newuser-form-id')">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="user-details-confirmation-modal" class="modal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-header">Add User Confirmation</h5>
                <button type="button" class="btn-close userdetail-confirmation-modal-close" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body ">
                <div class="delete-cat-image d-flex flex-column  align-items-center">
                    <p>Business created successfully.</p>
                    <p>Do you want to add users in this business?</p>
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                    onclick="displayUserDetails()">Yes</button>
                <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>

<div id="add-business-body-content" class="d-none">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="add-business-modal-header">Add Business</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form id="business-details-form-id">
            <div class="modal-body p-0 ps-3 pb-3 " style="min-height: 500px;">
                <div class="row " style="min-height: 500px;">
                    <div class="col-3 col-lg-2  border-0  border-end cursor-pointer p-0 " style="max-width: 190px;">
                        <a class="d-flex active-div p-2 w-100 mb-2 text-nowrap text-truncate" title="Business Details"
                            id="business-details-btn" style="text-decoration: none; ">Business Details</a>
                        <a class="d-flex inactive-div cursor-pointer text-nowrap p-2 w-100 text-truncate d-none"
                            title="User Management" id="user-details-btn" style="text-decoration: none;"
                            onclick="displayUserDetails()">User Management</a>
                    </div>
                    <div id="add-business-body" class="col-9 col-lg-10 pe-4">
                        <div class="fs-3 fw-bold text-color ">Business Details</div>
                        <div>
                            @* <form id="business-details-form-id"> *@
                            <div class="row">

                                <div class="col-12 mt-3 d-flex justify-content-center align-content-center">
                                    <div class="position-relative rounded-circle overflow-hidden border bg-white"
                                        style="width: 150px; height: 150px;">

                                        <!-- Hidden File Input -->
                                        <input type="file" onchange="readURL(this);" class="d-none" id="business-image"
                                            accept=".jpeg, .jpg, .png" />

                                        <!-- Label acts as both placeholder and click target -->
                                        <label for="business-image" class="w-100 h-100 d-block position-relative"
                                            onmouseover="removeOpacity()" onmouseout="addOpacity()"
                                            style="cursor: pointer;">

                                            <!-- Uploaded image -->
                                            <img src="#" id="add-business-uploadedimage"
                                                class="w-100 h-100 object-fit-cover rounded-circle d-none uploadedimage-class-business"
                                                alt="Profile" />

                                            <!-- Placeholder icon and text -->
                                            <div id="placeholder"
                                                class="w-100 h-100 d-flex flex-column justify-content-center align-items-center text-secondary bg-light rounded-circle"
                                                style="cursor: pointer;">
                                                <i class="fa-solid fa-cloud-arrow-up fs-4 mb-1"></i>
                                                <small>Browse</small>
                                            </div>

                                            <!-- Hover overlay: visible only when image is shown -->
                                            <div
                                                class="image-overlay position-absolute top-0 start-0 w-100 h-100 rounded-circle d-flex flex-column  justify-content-center align-items-center text-white fw-medium opacity-class">

                                                <!-- Upload icon and label -->
                                                <div class="text-center">
                                                    <i class="fa-solid fa-cloud-arrow-up me-2"></i>Change
                                                </div>

                                                <!-- Horizontal line -->
                                                <div class="mt-2"
                                                    style="width: 60%; border-bottom: 1px solid rgba(255, 255, 255, 0.5);">
                                                </div>
                                            </div>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-6 col-xl-6 col-sm-12 col-12 mt-3">
                                    <div class="form-floating ">
                                        <input type="text" onblur="TrimInput(this);buisnessNameValidation(this)"
                                            oninput="buisnessNameValidation(this)" class="form-control"
                                            id="business-businessName" placeholder="Business Name*">
                                        <label for="business-businessName" class="fs-6 text-secondary">Business
                                            Name*</label>
                                        <span
                                            class="text-danger businessNameValidationMessage validationMessage"></span>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-6 col-xl-6 col-sm-12 col-12 mt-3">
                                    <div class="form-floating ">
                                        <input type="Number" oninput="numberValidationReq(this)"
                                            onblur="numberValidationReq(this)" class="form-control"
                                            id="business-mobileNumber" placeholder="Mobile Number*">
                                        <label for="business-mobileNumber" class="fs-6 text-secondary">Mobile
                                            Number*</label>
                                        <span class="text-danger numberValidationMessage validationMessage"></span>
                                    </div>
                                </div>

                                <div class="col-md-6 col-lg-6 col-xl-6 col-sm-12 col-12 mt-3">
                                    <div class="form-floating">
                                        <select class="form-select" id="business-categories"
                                            aria-label="Floating label select example">
                                        </select>
                                        <label for="business-categories text-secondary">Business Category</label>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-6 col-xl-6 col-sm-12 col-12 mt-3">
                                    <div class="form-floating">
                                        <select class="form-select" id="business-types"
                                            aria-label="Floating label select example">
                                        </select>
                                        <label for="business-types text-secondary">Business Type</label>
                                    </div>
                                </div>

                                <div class="col-md-6 col-lg-6 col-xl-6 col-sm-12 col-12 mt-3">
                                    <div class="form-floating ">
                                        <input type="text" onblur="TrimInput(this)" class="form-control"
                                            id="business-addressLine1" placeholder="Building/House Number">
                                        <label for="business-addressLine1"
                                            class="fs-6 text-secondary text-nowrap">Building/House Number</label>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-6 col-xl-6 col-sm-12 col-12 mt-3">
                                    <div class="form-floating ">
                                        <input type="text" onblur="TrimInput(this)" class="form-control"
                                            id="business-addressLine2" placeholder="Area">
                                        <label for="business-addressLine2" class="fs-6 text-secondary">Area</label>
                                    </div>
                                </div>

                                <div class="col-md-6 col-lg-6 col-xl-6 col-sm-12 col-12 mt-3">
                                    <div class="form-floating ">
                                        <input type="text" onblur="TrimInput(this)" class="form-control"
                                            id="business-city" placeholder="City">
                                        <label for="business-city" class="fs-6 text-secondary">City</label>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-6 col-xl-6 col-sm-12 col-12 mt-3">
                                    <div class="form-floating ">
                                        <input type="Number" oninput="PincodeValidation(this);pincodeValidation(this)"
                                            class="form-control" id="business-pincode" placeholder="Pincode">
                                        <label for="business-pincode" class="fs-6 text-secondary">Pincode</label>
                                        <span class="text-danger pincodeValidationMessage validationMessage"></span>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-6 col-xl-6 col-sm-12 col-12 mt-3">
                                    <div class="form-floating ">
                                        <input type="text" onblur="TrimInput(this)" oninput="GSTINValidation(this)"
                                            class="form-control" id="business-GSTIN" placeholder="GSTIN">
                                        <label for="business-GSTIN" class="fs-6 text-secondary">GSTIN</label>
                                        <span class="text-danger GSTINValidationMessage validationMessage"></span>
                                    </div>
                                </div>
                                <div class=" col-md-6 col-lg-6 col-xl-6 col-sm-12 col-12 mt-3 mt-md-4 pt-md-2">
                                    <div class="form-check form-switch">
                                        <label class="form-check-label" for="business-isActive">Business Active</label>
                                        <input class="form-check-input" type="checkbox" id="business-isActive">
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button type="submit" class="btn btn-primary" id="temp-id"
                    onclick="saveBusinessDetails(false)">Save</button>
                <button type="submit" class="btn btn-primary" id="saveclose-id" onclick="saveBusinessDetails(true)">Save & Close</button>
                <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Close</button>
            </div>
        </form>
    </div>
</div>

<div id="user-details-body-content" class="d-none">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="modal-header">Update Business</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" button>
        </div>
        <div class="modal-body p-0 ps-3  " style="min-height: 500px;">
            <div class="row " style="min-height: 500px;">
                <div class="col-3 col-lg-2 border-0  border-end cursor-pointer p-0 ">
                    <a class="d-flex inactive-div p-2 w-100 mb-2 text-nowrap" id="business-details-btn"
                        style="text-decoration: none;" onclick="displayBusinessDetails()">Business Details</a>
                    <a class="d-flex active-div p-2 w-100 text-nowrap" id="user-details-btn"
                        style="text-decoration: none;">User Management</a>
                </div>
                <div id="user-details-body" class="col-9 col-lg-10 pe-4">
                    <div class="d-flex justify-content-between uer-detail-div">
                        <div class="fs-3 fw-bold text-color mt-2">User Details</div>
                        <span class="text-color fs-2 fw-bold btn" data-toggle="tooltip" data-placement="top"
                            data-bs-toggle="modal" data-bs-target="#add-user-modal" onclick="addEditUserInBusiness()"
                            title="Add User" id="add-user-icon">
                            <i class="bi bi-plus-square fw-bold"></i>
                        </span>
                    </div>

                    <div class="row p-0 table-responsive ">
                        <table id="example" class="table display">
                            <thead>
                                <th class="text-nowrap">Name</th>
                                <th class="text-nowrap">Email</th>
                                <th class="text-nowrap">Mobile Number</th>
                                <th class="text-center text-nowrap">Role</th>
                                <th class="text-nowrap">Action</th>
                            </thead>
                            <tbody id="user-details-table-body">

                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
        <div class="modal-footer d-flex justify-content-center">
            <a type="submit" class="btn btn-primary" data-bs-dismiss="modal">Save</a>
            <a type="submit"  class="btn btn-primary" onclick="closeBusinessModal()">Save &
                Close</a>
            <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal"
                onclick="displayBusinessCards()">Close</button>
        </div>
    </div>
</div>

<div id="delete-user-modal" class="modal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="add-user-modal-title">Delete User Confirmation</h5>
                <button type="button" class="btn-close user-delete-modal-close-btn" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body ">
                <div class="delete-cat-image d-flex flex-column  align-items-center">
                    <p>Are you sure you want to delete this user form the business?</p>
                    <input type="hidden" id="delete-user-modal-userId">
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <a type="submit" class="btn btn-primary" onclick="deleteUser()">Yes</a>
                <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>

<div id="inactive-user-modal" class="modal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="add-user-modal-title">{{status}} User Confirmation</h5>
                <button type="button" class="btn-close user-inactive-modal-close-btn" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body ">
                <div class="delete-cat-image d-flex flex-column  align-items-center">
                    <p>Are you sure you want to {{statusbody}} this user?</p>
                    <input type="hidden" id="userId-active">
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <a type="submit" class="btn btn-primary" onclick="ActiveInactiveUser()">Yes</a>
                <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>

<div id="deleteBusiness-confirmation-modal" class="fade modal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="add-user-modal-title">Delete business confirmation</h5>
                <button type="button" class="btn-close user-delete-modal-close-btn" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body ">
                <div class="delete-cat-image d-flex flex-column  align-items-center">
                    <p>Are you sure you want to delete this business?</p>
                    <input type="hidden" id="businessId-delete">
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <a type="submit" class="btn btn-primary" onclick="deleteBusinessYes()">Yes</a>
                <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script type="module" src="~/js/constant.js"></script>
    <script>
        function displayBusinessCards(searchText = "") {
            $("body").addClass("loading");
            let params = setParameter("/Business/GetBusinesses", GET, null, FORM_URL, { searchText }, getBusinessesSuccess);
            ajaxCall(params);
        }

        //debounce function for search business
        function debounce(func, delay) {
            let timeoutId; // Variable to store the timer ID

            return function (...args) {
                clearTimeout(timeoutId);

                timeoutId = setTimeout(() => {
                    func.apply(this, args);
                }, delay);
            };
        }

        const handleSearch = (event) => {
            let searchText = event.target.value;
            displayBusinessCards(searchText)
        };

        const debouncedSearch = debounce(handleSearch, 500);
        const searchInput = document.getElementById('BusinessSearch');
        searchInput.addEventListener('input', debouncedSearch);

        function readURL(input) {
            const file = input.files[0];
            if (!file) {
                return;
            }
            const validImageTypes = ['image/jpeg', 'image/jpg', 'image/png'];
            if (validImageTypes.includes(file.type)) {
                $("#browseFileText").text(file.name);
                if (input.files && input.files[0]) {

                    var reader = new FileReader();

                    reader.onload = function (e) {
                        $('#add-business-uploadedimage').attr('src', e.target.result).width(50).height(50);
                        document.getElementById("add-business-uploadedimage").classList.remove("d-none")
                    };
                    reader.readAsDataURL(input.files[0]);
                }
                return;
            } else {
                Toaster("Please Upload an Image in JPEG, PNG or JPG format", "error");
                input.value = null;
            }
        }

        function removeOpacity() {
            let classname = document.getElementsByClassName("uploadedimage-class-business")[0].getAttribute('src')
            if (classname != "#") {
                document.getElementsByClassName("image-overlay")[0].classList.remove("opacity-class")
            }
        }

        function addOpacity() {
            let classname = document.getElementsByClassName("uploadedimage-class-business")[0].getAttribute('src')
            if (classname != "#") {
                document.getElementsByClassName("image-overlay")[0].classList.add("opacity-class")
            }
        }

        $(document).ready(function () {
            toasterFromLocalstorage();
            displayBusinessCards();


            $(document).on("submit", "#business-details-form-id", function (e) {
                e.preventDefault();
            })

            $(document).on("submit", "#add-newuser-form-id", function (e) {
                e.preventDefault();
                saveUserDetails();
            })

            $(document).on('hidden.bs.modal', "#add-business-modal", function (e) {
                $("#business-businessId").val("")
                emptyInputValidation("business-details-form-id")
                $("#user-details-confirmation-modal").modal("hide")
                displayBusinessCards()
            })
        })


    </script>

    <script>
        //add business modal display business details
        function displayBusinessDetails() {
            emptyInputValidation("business-details-form-id");
            emptyInputValidation("add-newuser-form-id");
            $("#businessdetail-modal-body").html($("#add-business-body-content").html())
            let businessId = $("#business-businessId").val() == "" ? 0 : $("#business-businessId").val();

            if (businessId != 0) {
                $("#add-business-modal-header").html("Update Business")
                $("#user-details-btn").removeClass("d-none")
            }
            let params = setParameter("/Business/GetBusinessDetails", GET, null, FORM_URL, { businessId }, getBusinessByIdSuccess);
            $("body").addClass("loading");
            ajaxCall(params);

        }

        function displayUserDetails() {
            emptyInputValidation("business-details-form-id");
            emptyInputValidation("add-newuser-form-id");
            $("#businessdetail-modal-body").html($("#user-details-body-content").html())
            let businessId = $("#business-businessId").val() == "" ? 0 : $("#business-businessId").val();
            let params = setParameter("/Business/GetAllUsersOfBusiness", GET, null, FORM_URL, { businessId }, getAllUserDetailsSuccess);
            $("body").addClass("loading");
            ajaxCall(params);
        }

        function saveBusinessDetails(close) {
            let isValidForm = validateSaveBusinessForm();
            if (isValidForm) {
                let formData = new FormData();
                formData.append("BusinessId", $("#business-businessId").val() == "" ? 0 : $("#business-businessId").val())
                formData.append("BusinessName", $("#business-businessName").val())
                formData.append("BusinescategoryId", parseInt($("#business-categories").val().split("-")[2]))
                formData.append("BusinessTypeId", parseInt($("#business-types").val().split("-")[2]))
                formData.append("MobileNumber", $("#business-mobileNumber").val())
                formData.append("GSTIN", $("#business-GSTIN").val())
                formData.append("IsActive", $("#business-isActive").is(':checked'))
                formData.append("AddressLine1", $("#business-addressLine1").val())
                formData.append("AddressLine2", $("#business-addressLine2").val())
                formData.append("City", $("#business-city").val())
                formData.append("Pincode", $("#business-pincode").val())
                const fileInput = document.getElementById("business-image");
                const file = fileInput.files[0];
                if (file) {
                    formData.append("BusinessLogoIForm", file)
                }
                let params = setParameter("/Business/SaveBusiness", POST, null, FORMDATA, formData, SaveBusinessSuccess);
                $("body").addClass("loading");
                ajaxCall(params);
            }
            if(close){
                @* $(".btn-close").click(); *@
                $("#add-business-modal").modal("hide");
            }
        }

    </script>
}