@{
    ViewData["Title"] = "Business";
    Layout = "~/Views/Shared/_BusinessCardLayout.cshtml";
}

<div>businesspage</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            toasterFromLocalstorage();
        })
    </script>
}